.todo-ajouter
    margin-top 16px
    text-decoration: underline

.todo-ajouter:hover
    color #E60930
    cursor pointer
    text-decoration: underline
    
.done
    text-decoration: line-through;
    color: grey;
    cursor pointer

.todo
    border-bottom 1px solid #dfdfdf
    padding 8px

.right
    float right
    line-height: 1;
    padding-right 2px
    color #dfdfdf
    display none
    cursor pointer

.todo:hover .right
    display: block

.right:hover
    color #000
.label
    font-size 100%
    color #000
    text-align: left
    padding 0