.conteneur
    margin-left 280px
    padding 0
    background #F7F9FB
    height: 100vh

.content
    padding 8px
    margin-top 50px

#loading
    position fixed
    z-index: 1000000
    background #000
    color #fff
    width: 200px
    padding 8px
    left 30px
    bottom -80px
    transition .3s ease bottom