.conteneur
    background #3fdbbc
    height: 100vh

.formulaire
    background: #fff
    margin-top 100px
    padding 45px 40px 20px



.error-conteneur
    position:fixed
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

.error-back
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;

.error-message
    position: relative;
    color: #fff;
    width: 400px;
    background: #c0392b;
    margin-left: auto;
    margin-right: auto;
    margin-top 100px
    height 200px
    padding 8px

.ok-message
    position: relative;
    color: #000;
    width: 400px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top 100px
    height 200px
    padding 8px
    text-align: center

.lien-login
    margin-top: 45px;