
h3
    margin: 0;

.container
    padding-bottom: 50px;
    background: #fff

.case-rouge
    background: rgb(173, 33, 33);
    width: 10px;
    height: 10px;
    display: inline-block;

.case-bleue
    background: rgb(30, 144, 255);
    width: 10px;
    height: 10px;
    display: inline-block;

.loadingFormat
    height 14px

.bar
    position: fixed
    width 50px
    height 50px
    right 20px
    top 60px

.card
    visibility hidden
    margin-top -300px
    transition 0.8s transform

.bt-add
    font-size:  30px

.dialog
    display none

.dialog.show-dialog
    display block

.show
    visibility visible
    transform: translateY(350px)

.impossible
    color red