.bar
    text-align: right

.bt-add
    font-size: 32px

.invitation
    background: #fff
    padding: 20px

.titre
    font-size: 26px
    padding-bottom: 30px

.texte
    font-size: 20px;
    padding-bottom: 20px
