.nav-tabs>li.active>a
    color #E60930

.list-group-item
    border-bottom: #e6e6e6;

.support
    margin-top 40px

.support-box
    background #fff
    padding 10px

.tab-content
    padding 20px
    border-bottom 1px solid #dfdfdf
    border-left 1px solid #dfdfdf
    border-right 1px solid #dfdfdf