.carte
    background #fff
    padding 10px
    height 600px

.description
    margin 10px 0 20px
    font-size: 16px

.panel-heading
    font-weight: bold;

.panel
    margin-bottom 2px

.selected div
    text-decoration: line-through;
    color: grey;
    border:#ff6600 1px solid
    background #F2DEDE
    cursor: default;