.bar
    text-align: right

.bt-add
    font-size: 32px

.dialog-box
    width 500px
    height 550px

.content
    padding 4px 4px
    margin 0 0 8px 0
    border 1px solid #dfdfdf
    font-weight: bold

.titre
    font-size: 14px

.bt-modifier
    margin-top 30px

.bt-annuler
    margin-top 8px

.tableau
    background #fff
    padding 10px