.bar
    text-align: right

.bt-add
    font-size: 32px



.error
    color red

.groupe-padding
    padding 0

.label-com
    width: 100%;
    padding: 12px;

.back
    background-color: #3fb618;
    border-color: #4e9f15;
    color: #ffffff;

.space
    height 8px