/* You can add global styles to this file, and also import other style files */
@import('./styles/angular2-calendar.css')

a, .breadcrumb>.active
    color #E60930



.dialog
    position fixed;
    top 0
    left 0
    bottom 0
    right 0
    z-index: 10000
    

.dialog-back
    background: #000
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    opacity: .7
    
.dialog-box
    position relative
    background: #fff
    margin-top 100px
    margin-left: auto
    margin-right: auto
    padding 10px
    font-size: 18px

.card{
    background #fff
    margin-top: 100px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}