/* You can add global styles to this file, and also import other style files */


a, .breadcrumb>.active
    color #E60930



.dialog
    position fixed;
    top 0
    left 0
    bottom 0
    right 0
    z-index: 10000

.dialog-back
    background: #000
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    opacity: .7
    
.dialog-box
    position relative
    background: #fff
    margin-top 100px
    margin-left: auto
    margin-right: auto
    padding 10px
    font-size: 18px